html,
body {
  min-height: 100%;
}

body {
  background: #b97106;
}

.card {
  height: 100%;
}
p {
  margin-bottom: 0.5rem;
  color: #000000;
}

.card-image {
  padding-top: 1.5rem;
}

.card-image img {
  object-fit: contain;
}

#pokemonContent {
  margin-top: 2rem;
}

#content {
  margin-top: 1rem;
}